<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head::head">
</head>
<body>
<nav th:replace="fragments/navbar::navbar"></nav>
    <div style="width:60%; margin:auto; margin-top:10%; border: 1px solid darkgrey; padding:10%">
        <form name="f" th:action="@{/users/create}" th:object="${userRegistration}" method="post">
            <fieldset>
                <legend>Sign Up</legend>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-error">
                    Invalid Username
                </div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-error">
                    Invalid Password
                </div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-error">
                    Invalid Email
                </div>
                <div>
                    <label for="username">Username</label><br>
                    <input type="text" id="username" class="form-control" name="username" th:field="*{username}" />
                </div>
                <div>
                    <label for="password">Password </label><br>
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}"/>
                </div>
                <div>
                    <label for="email">Email </label><br>
                    <input type="email" class="form-control" id="email" name="email" th:field="*{email}"/>
                </div>
                <div class="form-actions" style="margin:auto; margin-top: 30px; width:50%; text-align:center">
                    <button type="submit" class="btn btn-primary" style="">Create</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </fieldset>
        </form>
    </div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>